<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess.ai Game</title>
    <link rel="stylesheet" href="/static/pico.classless.css"/>
</head>
<body>
<header style="padding: 1rem">
    <nav style="display: flex; flex-direction: row; justify-content: space-between; align-items: center">
        <div style="font-size: xx-large">
            Guess.ai
        </div>
        <a href="#" data-theme-switcher="dark">Dark</a>
    </nav>
</header>
<main style="padding-top: 0;">
    {% block content %}
    {% endblock %}
</main>
<footer class="container">
    <small>Built with ♥ by <a href="https://github.com/xprilion">Anubhav</a> • <a href="https://xprilion.com">xprilion.com</a> • <a href="https://github.com/xprilion/genai-game">View Source</a></small>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="/static/minimal-theme-switch.js"></script>
{% block script %}
{% endblock %}
</body>
</html>
