{% extends "base.html" %}

{% block content %}
<div>
    <div id="chat-box" class="bg-light p-3 mb-3 rounded">
        <blockquote style="border-left: 4px solid #43a047;">Hi, I am Sheldon Cooper. Upload an image and I will tell you a fun fact.</blockquote>
    </div>
    <progress id="progress-bar" style="display: none"></progress>
    
    <!-- Updated form to include file upload -->
    <form id="chat-form">
        <div class="input-group mb-3">
            <input id="image-input" type="file" class="form-control">
        </div>
        <div class="input-group">
            <button type="submit" id="send-button" class="btn btn-primary">Upload</button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
function appendImageToChat(file) {
    var reader = new FileReader();

    reader.onloadend = function () {
        var img = $('<img>').attr('src', reader.result).css({'max-width': '100%', 'height': 'auto'});
        $('#chat-box').append($('<blockquote>').css({'border-left': '4px solid dodgerblue'}).append(img));
    }

    if (file) {
        reader.readAsDataURL(file);
    }
}

$(function() {
    $('#chat-form').submit(function(e) {
        e.preventDefault(); // Prevent the default form submission

        var formData = new FormData(this);
        var fileInput = $('#image-input')[0].files[0];

        formData.append('user_image', fileInput);

        if (fileInput) {
            $('#chat-box').append('<blockquote style="border-left: 4px solid #1288ff;">User: </blockquote>');
            appendImageToChat(fileInput);
            $('#image-input').val('');
            $('#progress-bar').show();
            
            // Use AJAX to send the formData to the server
            $.ajax({
                url: '/chat',
                type: 'POST',
                data: formData,
                processData: false, // Prevent jQuery from converting the data into a query string
                contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                success: function(data) {
                    $('#chat-box').append('<blockquote style="border-left: 4px solid #43a047;">Sheldon: ' + data.response + '</blockquote>');
                    $('#progress-bar').hide();
                },
                error: function() {
                    $('#chat-box').append('<blockquote style="border-left: 4px solid red;">Sheldon: Sorry, I am not able to respond at the moment.</blockquote>');
                    $('#progress-bar').hide();
                }
            });
        }
    });
});
</script>
{% endblock %}
